*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
  background: #000;
}

.download {
  text-align: center;
  margin-top: 110px;
}

.download .information_cv {
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: calc(13px + 0.2vw);
  color: #f1f1f1;
}

.download-button {
  display: block;
  margin: 10px auto 0;
  padding: 10px 20px;
  /* background-color: #007bff; */
  color: #f1f1f1;
  border: 1px solid #ffa600;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  box-shadow: 0 0 0 0 rgb(173, 226, 226, 0.4);
  transition: box-shadow 0.2s ease-in,
  background 0.2s ease-in;
}

.download-button:hover {
  background: #ffa600;
  box-shadow: 0 0 10px 7px rgb(173, 226, 226, 0.4);
}
  