.footer {
  background: #eee;
  padding: 64px 50px;
  margin-top: 70px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.footer:hover {
  transform: translateY(-2px);
}

a.linkedin {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.whatsapp {
  color: black;
}

h1 {
  margin-bottom: 40px;
}

p {
  margin-bottom: 40px;
}