h1 {
    margin-bottom: 20px;
}

/* Styles pour le formulaire */
.form {
    text-align: left;
    margin-bottom: 20px;
}

input[type="text"],
textarea,
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

/* Styles pour les cartes */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recetteCard {
    background-color: #b07272;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 48%; 
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.recetteCard:hover {
    background-color: #472c2c;
}

.btn-card {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #234666;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    border-radius: 7px;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}