/* Dans votre fichier Registration.css */

/* Style pour la boîte du formulaire d'inscription */
.form_box {
  width: 400px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.form_box h4 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Style pour chaque champ du formulaire */
.form_box .input_firstname,
.form_box .input_lastname,
.form_box .input_username,
.form_box .input_email,
.form_box .input_password,
.form_box .input_confirm_password {
  margin-bottom: 20px;
}

.form_box label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.form_box input[type="text"],
.form_box input[type="email"],
.form_box input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

/* Style pour le bouton de soumission */
.form_box button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form_box button:hover {
  background-color: #0056b3;
}

/* Style pour le lien "Log In" */
.registration_form {
  text-align: center;
  margin-top: 20px;
}

.registration_form span {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

.registration_form a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

